.container { background:#ffffff;margin:0 !important;padding:0 !important;}
.clear {clear:both;}
#body-container{margin-bottom: 60px;font-size: 18px;}
.myna-speak{width:90%;}
.customer-speak {width:90%;float:right;padding:15px 15px 0 0;}
.customer-speak button {float:right;}
.list-group-item {padding: .25rem .75rem !important;}